.banner__boton{
    position: absolute;
    background: green;
    border: none;
    border-radius: 4px;
    color: azure;
    padding: 1rem;
    font-family: 'PT Sans Narrow', sans-serif;
    top: 120px;
    left: 50px; 
}
.banner__boton:hover{
    cursor: pointer;
    background: #c47e7e;
}