.banner__titulo{
    color: white;
    font-family: 'Lobster', sans-serif;
    position: absolute;
    left: 50px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    top: 30%;
    text-align: center;
}